@media (min-width: 1920px){
    body {
        background-color: aqua;
    }
}
.img{
    width: 1200px;
    height: 700px;
}

@media (min-width: 501px) and (max-width: 1919px){
body {
    font-size: 22px;
    background-color: bisque;
}
}
.img{
    width: 500px;
    height: 300px;
}
@media (min-width: 50px) and (max-width: 500px){
    body {
        background-color: black;
    }
}
.img {
    width: 50px;
    height: 100px;
}

